img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.pics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 40px;
}

.para {
  margin-top: 0;
  /* background-color: rgb(238, 192, 192); */
  background-color: #f3e096;
  height: 20px;
  width: 225px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  border: 4px solid #bbb816;
}
